*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.About{
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
    flex-wrap: wrap;
}

.About p{
    width: 90%;
}
